* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #d7c790;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(76, 76, 76);
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #313131;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-color: #ffeaa7;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-app {
  width: 100%;
  max-width: 540px;

  background: #ffffff;
  background-image: radial-gradient(#bebebe 7.2%, transparent 0);
  background-size: 25px 25px;

  padding: 2rem 3rem;
  border-radius: 0.75rem;
  box-shadow: 4px 3px 7px 2px #00000040;
}

.todo-app h2 {
  background-color: #fdcb6e;
  margin: auto;
  width: fit-content;
  transform: rotate(2deg);
  padding: 0.5rem 1.5rem;
  border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
  font-weight: 100;
  color: rgb(28, 28, 28);
}

.row {
  display: flex;
  align-items: center;
}

input {
  margin-top: 1.25rem;
  padding: 0.5rem 0.25rem;
  font-size: 1.25rem;
  border: none;
  border-bottom: 4px dashed #fdcb6e;
  width: 100%;
  outline: none;
  background-color: transparent;
}

button {
  padding: 0.75rem 1rem;
  height: fit-content;
  border-radius: 0.25rem;
  margin-top: auto;
  margin-left: 0.5rem;
  font-size: 1rem;
  border: 2px solid black;
  background-color: white;
  cursor: pointer;
  font-weight: 600;
}

ul {
  margin: 2rem 0;
  padding-left: 2.5rem;
}

ul li {
  margin: 1.75rem 0;
  padding-left: 1rem;
  font-size: 1.25rem;
  font-weight: 500;
  list-style: none;
  position: relative;
  cursor: pointer;
}

ul li::before {
  content: "";
  position: absolute;
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  top: -0.1rem;
  left: -2.5rem;
  background-image: url("./img/unchecked.png");
}

.checked {
  color: #8e8e8e;
  text-decoration: line-through;
}

.checked::before {
  background-image: url("./img/checked.png");
}

li span {
  position: absolute;
  right: 0;
  top: -0.2rem;
  font-size: 1.75rem;
  cursor: pointer;
  padding: 0.15rem 0.65rem;
  border-radius: 100%;
  transition: 0.25s;
}

li span:hover {
  background-color: #b9b9b976;
}
